:root {
  --color1: #3a497b;
  --color1_rgb: rgb(58, 73, 123);
  --color2: #272b30;
  --color3: #0099cc;
  --color4: #32383e;
  --color5: #0d6efd;
  --color6: #0dcaf0;
  --color7: #ffc107;
  --color8: #272b2f;
}

/* font sizes */
.fs-lg {
  font-size: 5rem;
}
.fs-lglg {
  font-size: 8rem;
}
.fs-s {
  font-size: 1rem;
}
.fs-ss {
  font-size: 0.8rem;
}
.fs-sss {
  font-size: 0.7rem;
}

/* font types */
.font-1 {
  font-family: "Kanit", sans-serif;
}
.font-2 {
  font-family: "Playwrite IT Moderna", cursive;
}
.font-3 {
  font-family: "Ga Maamli", sans-serif;
}
.font-4 {
  font-family: "Lato", sans-serif;
}

/* box shadow */
.box-shadow {
  box-shadow: 0px 0px 4px 0px #000000;
}
.box-shadow2 {
  box-shadow: 0px 0px 20px 0px #000000;
}

/* color fonts */
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}

/* bg colors */
.bg-color1 {
  background-color: var(--color1);
}
.bg-color2 {
  background-color: var(--color2);
}
.bg-color3 {
  background-color: var(--color3);
}
.bg-color4 {
  background-color: var(--color4);
}
.bg-color5 {
  background-color: var(--color5);
}
.bg-color6 {
  background-color: var(--color6);
}
.bg-color7 {
  background-color: var(--color7);
}

/* border colors */
.border-color1 {
  border-color: var(--color1);
}
.border-color2 {
  border-color: var(--color2);
}
.border-color3 {
  border-color: var(--color3);
}
.border-color4 {
  border-color: var(--color4);
}
.border-color5 {
  border-color: var(--color5);
}
.border-color6 {
  border-color: var(--color5);
}
.border-color7 {
  border-color: var(--color5);
}

.btn-for-reference {
  --bs-btn-color: var(--color3);
  --bs-btn-hover-color: var(--color3);
  --bs-btn-bg: var(--color4);
  --bs-btn-hover-bg: var(--color5);
  transform: translateY(100%);
}
/* body */
body {
  min-height: 100%;
  min-width: 100%;
}

/* game card */
/* .card {
  filter: grayscale(0.8);
  transition: 0.5s all ease-out;
}
.card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

.card-body {
  min-height: 140px;
}

.card-footer {
  min-height: 70px;
} */

/* spinner */
.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*// loader end */

#mySidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 9999;
}
.sidenav-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 100%;
}
.sidenav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidenav-content {
  /* width: 0px; */
  /* left: -300px; */
  background: #000;
}
#nav-btn {
  cursor: pointer;
}
i,
.cursor > li {
  cursor: pointer;
}

.form-control {
  line-height: 2;
}

.over-body {
  background: rgb(129, 128, 145);
  background: linear-gradient(90deg, rgba(129, 128, 145, 0.5) 0%, rgba(165, 171, 155, 0.6) 80%);
  transform: translateY(100%);
  transition: 0.5s all ease;
}
.card:hover .over-body {
  transform: translateY(0);
}
.card {
  --bs-border-width: 0;
}

.sidebar-options {
  overflow: hidden;
}
/* .animate-sidebar-options:nth-of-type(0) {
  top: 400px;
}
.animate-sidebar-options:nth-of-type(1) {
  top: 300px;
}
.animate-sidebar-options:nth-of-type(2) {
  top: 200px;
}
.animate-sidebar-options:nth-of-type(3) {
  top: 100px;
}
.animate-sidebar-options:nth-of-type(4) {
  top: 50px;
} */
.animate-sidebar-options {
  top: 250px;
  position: relative;
  transition: 0.5s all ease;
}
.cat-title {
  font-size: 1.5em;
}
.cat-desc {
  font-size: 0.7em;
}

.btn {
  width: 100px;
}
